<a routerLink="/histoCommand">Retour à la liste</a>
<div class="container-fluid">
  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Produit</th>
      <th>Qualité</th>
      <th>Taille</th>
      <th>Montant</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prod of produits; let i = index">
      <td [tabIndex]="i">{{i+1}}</td>
      <td>{{prod.nomProduit}}</td>
      <td>{{prod.qualiteProduit}}</td>
      <td>{{prod.tailleProduit}}m</td>
      <td>{{prod.prix.toLocaleString('fr-FR')}}F CFA</td>
    </tr>
    </tbody>
  </table>
</div>
